:root {
  --text-primary-main: #1c95e6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 20px;
  margin-bottom: 15px;
  text-align: center;
}

a {
  color: var(--text-primary-main);
}

.icon {
  margin-left: 10px;
  margin-bottom: 5px;
}
